Repository tslateman/tutor: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, markdownlint, vale, lychee

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: prettier --write
        language: system
        files: '\.md$'
        exclude: '^\.claude/'
      - id: markdownlint
        name: markdownlint
        entry: markdownlint --ignore .vale
        language: system
        files: '\.md$'
        exclude: '^\.claude/'
      - id: vale
        name: vale
        entry: vale
        language: system
        files: '^(how|why)/.*\.md$|^CLAUDE\.md$'
      - id: lychee
        name: lychee
        entry: lychee --offline
        language: system
        files: '\.md$'

docs: Add reasoning cheat sheet and lesson plan
  CLAUDE.md
  learn/reasoning-lesson-plan.md
  why/complexity.md
  why/problem-solving.md
  why/reasoning.md
  why/thinking.md
Due: prettier, markdownlint, vale, lychee

docs: Add swarm cost analysis and valid use cases to agentic workflows lesson
  learn/agentic-workflows-lesson-plan.md
Due: prettier, markdownlint, lychee

docs: Add AI adoption principles guide for engineering teams
  CLAUDE.md
  why/ai-adoption.md
Due: prettier, markdownlint, vale, lychee

docs: Update README for Astro Starlight site
  README.md
Due: prettier, markdownlint, lychee

feat: Group sidebar into subcategories and add Lesson Plans to home page
  astro.config.mjs
  src/content/docs/index.md
  src/content/docs/index.mdx
Due: prettier, markdownlint, lychee

refactor: Split filesystem.md and add missing See Also sections
  astro.config.mjs
  src/content/docs/how/filesystem-advanced.md
  src/content/docs/how/filesystem.md
  src/content/docs/how/postgres.md
  src/content/docs/learn/tmux-lesson-plan.md
Due: prettier, markdownlint, lychee

fix: Repair vale paths, deploy checkout, and lint tooling
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .lychee.toml
  .pre-commit-config.yaml
  .vale.ini
  Makefile
  scripts/new-guide.sh
  src/content/docs/learn/concurrency-lesson-plan.md
Due: prettier, markdownlint, lychee

docs: Add specification guide and lesson plan
  astro.config.mjs
  src/content/docs/learn/agentic-workflows-lesson-plan.md
  src/content/docs/learn/specification-lesson-plan.md
  src/content/docs/why/complexity.md
  src/content/docs/why/orchestration.md
  src/content/docs/why/specification.md
  src/content/docs/why/testing.md
Due: prettier, markdownlint, lychee

docs: Update CLAUDE.md tables for new content
  CLAUDE.md
Due: prettier, markdownlint, vale, lychee

docs: Update specification guide with verified AWS formal methods data
  src/content/docs/why/specification.md
Due: prettier, markdownlint, lychee

fix: Restore postgres.md content and scope CI markdown globs
  .github/workflows/ci.yml
  src/content/docs/how/postgres.md
Due: prettier, markdownlint, lychee

docs: Expand neovim.md from keybinding stub to full cheat sheet
  CLAUDE.md
  src/content/docs/how/neovim.md
Due: prettier, markdownlint, vale, lychee

docs: Add system-design guide, expand ai-adoption, dedup shell guides
  .markdownlint.json
  CLAUDE.md
  Makefile
  README.md
  src/content/docs/how/cli-pipelines.md
  src/content/docs/how/shell.md
  src/content/docs/how/system-design.md
  src/content/docs/how/terminal-emulators.md
  src/content/docs/learn/tmux-lesson-plan.md
  src/content/docs/why/ai-adoption.md
Due: prettier, markdownlint, vale, lychee

fix: Add how/system-design to sidebar
  astro.config.mjs
Due: none

fix: Handle multi-word names and emit sidebar line in new-guide.sh
  scripts/new-guide.sh
Due: none

docs: Add Python CLI guide covering Typer, Click, and Django wrappers
  CLAUDE.md
  astro.config.mjs
  src/content/docs/how/python-cli.md
Due: prettier, markdownlint, vale, lychee

fix: Stale refs, CI audit targets, and landing page diversity
  .github/workflows/ci.yml
  Makefile
  README.md
  src/content/docs/how/sql.md
  src/content/docs/index.mdx
Due: prettier, markdownlint, lychee

docs: Add Docker lesson plan covering images through Compose and security
  CLAUDE.md
  astro.config.mjs
  src/content/docs/how/docker.md
  src/content/docs/learn/docker-lesson-plan.md
Due: prettier, markdownlint, vale, lychee

fix: Add sidebar audit, README count check, and hub file cross-references
  .github/workflows/ci.yml
  Makefile
  README.md
  src/content/docs/how/diagramming.md
  src/content/docs/how/sql.md
  src/content/docs/how/typescript.md
  src/content/docs/why/complexity.md
  src/content/docs/why/thinking.md
Due: prettier, markdownlint, lychee

feat: Add lesson plan callouts, prerequisites, and landing page reorder
  src/content/docs/how/agent-orchestration.md
  src/content/docs/how/cryptography.md
  src/content/docs/how/docker.md
  src/content/docs/how/git.md
  src/content/docs/how/python.md
  src/content/docs/how/rust.md
  src/content/docs/how/security-scanning.md
  src/content/docs/how/system-design.md
  src/content/docs/how/tmux.md
  src/content/docs/how/typescript.md
  src/content/docs/index.mdx
  src/content/docs/learn/agentic-workflows-lesson-plan.md
  src/content/docs/learn/concurrency-lesson-plan.md
  src/content/docs/learn/context-complexity-lesson-plan.md
  src/content/docs/learn/cryptography-lesson-plan.md
  src/content/docs/learn/data-models-lesson-plan.md
  src/content/docs/learn/docker-lesson-plan.md
  src/content/docs/learn/ghostty-lesson-plan.md
  src/content/docs/learn/git-lesson-plan.md
  src/content/docs/learn/github-lesson-plan.md
  src/content/docs/learn/golang-lesson-plan.md
  src/content/docs/learn/information-architecture-lesson-plan.md
  src/content/docs/learn/networking-lesson-plan.md
  src/content/docs/learn/operating-systems-lesson-plan.md
  src/content/docs/learn/python-lesson-plan.md
  src/content/docs/learn/reasoning-lesson-plan.md
  src/content/docs/learn/rust-lesson-plan.md
  src/content/docs/learn/security-lesson-plan.md
  src/content/docs/learn/specification-lesson-plan.md
  src/content/docs/learn/system-design-lesson-plan.md
  src/content/docs/learn/technical-writing-lesson-plan.md
  src/content/docs/learn/tmux-lesson-plan.md
  src/content/docs/learn/typescript-lesson-plan.md
  src/content/docs/why/complexity.md
  src/content/docs/why/information-architecture.md
  src/content/docs/why/learning.md
  src/content/docs/why/problem-solving.md
  src/content/docs/why/reasoning.md
  src/content/docs/why/specification.md
Due: prettier, markdownlint, lychee

feat: Add regex lesson plan, structure linter, and polish pass
  .github/workflows/ci.yml
  CLAUDE.md
  Makefile
  README.md
  astro.config.mjs
  scripts/check-lesson-structure.sh
  src/content/docs/how/docker.md
  src/content/docs/how/regex.md
  src/content/docs/index.mdx
  src/content/docs/learn/regex-lesson-plan.md
Due: prettier, markdownlint, vale, lychee

docs: Add testing, SQL, and debugging lesson plans
  CLAUDE.md
  README.md
  astro.config.mjs
  src/content/docs/how/debugging.md
  src/content/docs/how/sql.md
  src/content/docs/how/testing.md
  src/content/docs/learn/debugging-lesson-plan.md
  src/content/docs/learn/sql-lesson-plan.md
  src/content/docs/learn/testing-lesson-plan.md
  src/content/docs/why/debugging.md
  src/content/docs/why/testing.md
Due: prettier, markdownlint, vale, lychee

fix: Rewrite .md cross-links to routed URLs at build time
  astro.config.mjs
Due: none

docs: Add signal mental model and SysML v2 lesson plan
  CLAUDE.md
  src/content/docs/learn/sysml-v2-lesson-plan.md
  src/content/docs/why/signal.md
Due: prettier, markdownlint, vale, lychee

docs: Add org-mode lesson plan with 8 lessons on note-taking and org-roam
  src/content/docs/learn/org-mode-lesson-plan.md
Due: prettier, markdownlint, lychee

docs: Add authentication reference, resilience mental model, and expand system design
  CLAUDE.md
  README.md
  astro.config.mjs
  src/content/docs/how/authentication.md
  src/content/docs/how/system-design.md
  src/content/docs/why/resilience.md
Due: prettier, markdownlint, vale, lychee

docs: Add AI engineering guides for prompt engineering, RAG, MCP, evaluation, safety, and glossary
  CLAUDE.md
  README.md
  astro.config.mjs
  src/content/docs/how/ai-cli.md
  src/content/docs/how/ai-glossary.md
  src/content/docs/how/claude-code.md
  src/content/docs/how/llm-evaluation.md
  src/content/docs/how/mcp-servers.md
  src/content/docs/how/prompt-engineering.md
  src/content/docs/how/security-scanning.md
  src/content/docs/how/testing.md
  src/content/docs/why/agent-memory.md
  src/content/docs/why/ai-safety.md
  src/content/docs/why/rag.md
  src/content/docs/why/resilience.md
Due: prettier, markdownlint, vale, lychee

docs: Add orchestration tile to landing page
  src/content/docs/index.mdx
Due: none

fix: Rewrite http.md and anchored links, validate links at build
  .github/workflows/deploy.yml
  astro.config.mjs
  package-lock.json
  package.json
  src/content/docs/how/learning-a-language.md
Due: prettier, markdownlint, lychee

fix: Add Signal, Org-mode, and SysML v2 pages to sidebar
  astro.config.mjs
Due: none

fix: Pin prettier and markdownlint, align CI with local versions
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Makefile
  README.md
  package-lock.json
  package.json
  src/content/docs/how/claude-code.md
  src/content/docs/learn/agentic-workflows-lesson-plan.md
Due: prettier, markdownlint, lychee

docs: Add data-intensive systems lesson plan
  CLAUDE.md
  README.md
  astro.config.mjs
  src/content/docs/learn/data-intensive-systems-lesson-plan.md
  src/content/docs/learn/system-design-lesson-plan.md
Due: prettier, markdownlint, vale, lychee

docs: Add observability reference, mental model, and lesson plan
  CLAUDE.md
  README.md
  astro.config.mjs
  src/content/docs/how/observability.md
  src/content/docs/how/performance.md
  src/content/docs/learn/observability-lesson-plan.md
  src/content/docs/learn/system-design-lesson-plan.md
  src/content/docs/why/observability.md
  src/content/docs/why/resilience.md
Due: prettier, markdownlint, vale, lychee

fix: Spell out 3 a.m. to satisfy proselint date rules
  src/content/docs/learn/observability-lesson-plan.md
Due: prettier, markdownlint, lychee
